body {
    font-family: monospace;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.sub {
    margin-left: 2%;
}

.sbs {
    display: inline-block;
}

h2 {
    margin-bottom: -2%;
}